body{
        background-color: #f3fce7
}


legend{
        font-size: 24px
}


fieldset{
        border: solid #fff;
        background-color: #d0efe3;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 20px
    
}


fieldset > div {
        display: inline-block;
        width: 100%;
          
}

input {
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        width: 40%; 
}

.Fields {
        margin-top: 5px
}


div {
	  	border : none;
}


label {
	  	display: inline-block;
	  	width: 15%;
	  	text-align: left;
	  	margin: 10px 20px 10px 20px
}

button {
    color: #fff;
    background-color: #8ec2b6;
    text-align: center;
    font-size: 24px;
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    border-color: #7fd0d3;
}

.Button{
    text-align: center
}

.warring{
    color: red;
}


