header{
    background-color: rgb(231,93,73);
    font-size:50px ;
    font-weight:bold;
    text-decoration: none;
    color:inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #ffedd1;
}




.NText{
     color:#FFF;
     font-size: 50px;
     font-weight: bold
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.P_text{
    text-align: center;
    padding: 10px 0;
    font-weight: bold
}

.btn-block {
    padding: 90px 15px; 
}

.FirstRow{
    margin-top: 20px;
}

.row{
    margin-top: 30px
}

.nounderline {
  text-decoration: none !important;
  color: #FFFFFF
}

nav .navbar-nav li a{
  color: white !important;
  }

.FText{
    text-align: center
}


.person{
   padding-top: 20px ;
   padding-right:50px;
   padding-left:50px;
}


.person-row{
   margin-top: 0px;
   
}

.border{
    margin: 0
}

.link
{
   text-decoration: none; 
   background-color: none;
}


.btn-sq-lg {
  width: 120px !important;
  height: 100px !important;
  margin-left: 38px
}

.H-Text{
    padding:30px 5px 30px 5px;
}

.li{
    margin-bottom: 2px
}

.PT{
    font-size :20px;
    padding: 14px
}

.table {
    background-color: #fff;
}

.myForm{
        background-color: #fff;

}