header{
    background-color: rgb(231,93,73);
    font-size:50px ;
    font-weight:bold;
    text-decoration: none;
    color:inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}




.NText{
     color:#FFF;
     font-size: 50px;
     font-weight: bold
}


footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.P_text{
    text-align: center;
    padding: 10px 0;
    font-weight: bold
}

.btn-block {
    padding: 90px 15px; 
}

.FirstRow{
    margin-top: 20px;
}

.row{
    margin-top: 30px
}

.nounderline {
  text-decoration: none !important;
  color: #FFFFFF
}

nav .navbar-nav li a{
  color: white !important;
  }

.FText{
    text-align: center
}


.person{
   padding-top: 20px ;
   padding-right:50px;
   padding-left:50px;
}


.person-row{
   margin-top: 0px;
   
}

.border{
    margin: 0
}

.link
{
   text-decoration: none; 
   background-color: none;
}


.btn-sq-lg {
  width: 120px !important;
  height: 100px !important;
  margin-left: 38px
}

.H-Text{
    padding:30px 5px 30px 5px;
}

.li{
    margin-bottom: 2px
}



/* Here the code of the admin page */

/*

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main>header {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(231,93,73);
    color: white;
}

main>header>h1 {
    
}

main>section {
    width: 100%;
    height: 80%;
    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(250,235,215);
    
}

main>footer {
    background-color: rgb(65,74,76);
}

.tile {
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 12em;
    width: 20%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}

.tile:nth-child(3) {
    min-width: 24em;
    width: 48%;
 }
*/